// Rename this file to secrets.js and fill in the necessary
// Twitter OAuth values

module.exports = {
  one : {
    key : '*******',
    secret : '*******',
    token : '*******',
    token_secret : '*******'
  },
  two : {
    key : '*******',
    secret : '*******',
    token : '*******',
    token_secret : '*******'
  }
}
