body { 
	margin: 0;
	padding: 0;
	background: #fff;
}

div {
	margin: 0 !important;
}

handle, hash {
	color: #00aeef;
}

#jumbotron {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 10vh;
	background: url(../images/background_pink.png);
}

#logo {
	display: block;
	padding-top: 3px;
	margin-left: auto;
	margin-right: auto;
	height: 9vh;
}

#map { 
  position: fixed; 
  top: 10vh; 
  bottom: 0;
  right: 0; 
  width: 70%;
}

