#chat-window {
	position: fixed;
	top: 10vh;
	padding-top: 5px;
	width: 30%;
	height: 100%;
}

#chat-scroll {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 90vh;
}

#chat-window #messages { 
	list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#chat-window #messages li { 
	padding: 5px 20px 15px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	border-bottom: solid 1px #c1c1c1;
	min-height: 80px;
	overflow: auto;
}

#chat-window #messages li.hypeTweet {
	color:#ec008b;
}
/**/
.img-wrap {
	float:left;
	margin-right: 10px !important;
}
/*.img-wrap {
	float: left;
	width: 25%;
	margin-right: 10px;
}

.img-wrap img {
  vertical-align: middle;
  max-height: 80px;
  max-width: 100%;
}*/

/*#chat-window #messages .descr { 
	float: left;
}*/

#chat-window #messages .tweeter {
	font-weight: bold;
}

#chat-window #messages li:last-child { 
	border: none;
}

#chat-window form { 
	background: #000;
	padding: 3px;
	width: 100%;
}

#chat-window form input { 
	border: 0;
	padding: 10px;
  width: 80%;
}

#chat-window form button { 
	background: #666;
  color: #fff;
  border: none;
  padding: 10px;
  width: 20%;
}